.button {
    -fx-font-weight: bold;
}

TextField {
    -fx-background-color: skyblue;
}

Label {
    -fx-padding: 2 10 0 5;
}

StackPane {
    -fx-padding: 20 20 20 20;
}

FlowPane {
    -fx-padding: 20 20 20 20;
}

HBox.resultsPane {
    -fx-padding: 20 20 20 20;
}
