Button {
    -fx-font-weight: bold;
    -fx-padding: 5;
}

Label {
    -fx-padding: 5;
    -fx-alignment: center-right;
}

StackPane {
    -fx-padding: 20 20 20 20;
}

HBox.resultsPane {
    -fx-padding: 20 20 20 20;
}

.search-container {
    -fx-padding: 10;
}

.search-control-group {
    -fx-padding: 5;
    -fx-alignment: center-right;
}

.search-container {
    -fx-padding: 10;
}
